.desktop {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.iconGrid {
  display: flex;
  flex-direction: column;
  width:fit-content;
  gap: 15px;
  padding: 10px;
  align-items: flex-start;
}
